<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>byExtension</key>
	<dict>
		<key>.git/config</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>.gitconfig</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>.gitmodules</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>.textmate_init</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>.vagrantplugins</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>_js</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>appfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>appraisals</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>arb</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>aw</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>bash</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>bash_login</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>bash_logout</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>bash_profile</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>bashrc</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>berksfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>berksfile.lock</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>brewfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>c</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>c++</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>capfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cc</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cgi</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cheffile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>commit_editmsg</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>conf</key>
		<dict>
			<key>bundleName</key><string>Apache</string>
			<key>bundleUUID</key><string>D4FB34BC-80F3-11D9-9D53-00039398C572</string>
		</dict>
		<key>cp</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cpp</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cpt</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cpy</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>css</key>
		<dict>
			<key>bundleName</key><string>CSS</string>
			<key>bundleUUID</key><string>4675F24E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>css.erb</key>
		<dict>
			<key>bundleName</key><string>CSS</string>
			<key>bundleUUID</key><string>4675F24E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>ctp</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>cxx</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>dangerfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>ddl</key>
		<dict>
			<key>bundleName</key><string>SQL</string>
			<key>bundleUUID</key><string>AAB4CBF7-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>deliverfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>dict</key>
		<dict>
			<key>bundleName</key><string>Property List</string>
			<key>bundleUUID</key><string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>dml</key>
		<dict>
			<key>bundleName</key><string>SQL</string>
			<key>bundleUUID</key><string>AAB4CBF7-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>dtml</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>eml</key>
		<dict>
			<key>bundleName</key><string>Mail</string>
			<key>bundleUUID</key><string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
		</dict>
		<key>eml.txt</key>
		<dict>
			<key>bundleName</key><string>Mail</string>
			<key>bundleUUID</key><string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
		</dict>
		<key>erb</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>es</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>es6</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>etc/gitconfig</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>fastfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>fcgi</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>gemfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>gemspec</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>git-rebase-todo</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>git/config</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>gnumakefile</key>
		<dict>
			<key>bundleName</key><string>Make</string>
			<key>bundleUUID</key><string>4679297D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>gs</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>guardfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>gymfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>gyp</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>gypi</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>h</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>h++</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>hh</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>hobofile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>hpp</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>htaccess</key>
		<dict>
			<key>bundleName</key><string>Apache</string>
			<key>bundleUUID</key><string>D4FB34BC-80F3-11D9-9D53-00039398C572</string>
		</dict>
		<key>htc</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>htm</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>html</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>html.erb</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>hxx</key>
		<dict>
			<key>bundleName</key><string>C</string>
			<key>bundleUUID</key><string>4675A940-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>inc</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>irbrc</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>jb</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>js</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>jscad</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>jslib</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>jsm</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>json</key>
		<dict>
			<key>bundleName</key><string>JSON</string>
			<key>bundleUUID</key><string>8BB0DBAF-E65C-4E14-A6A7-467D4AA535E0</string>
		</dict>
		<key>json5</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>jsp</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>jspre</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>jsx</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>m</key>
		<dict>
			<key>bundleName</key><string>Objective-C</string>
			<key>bundleUUID</key><string>4679484F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>mail</key>
		<dict>
			<key>bundleName</key><string>Mail</string>
			<key>bundleUUID</key><string>385A8908-0733-408E-AFA5-9576D2E3A16B</string>
		</dict>
		<key>makefile</key>
		<dict>
			<key>bundleName</key><string>Make</string>
			<key>bundleUUID</key><string>4679297D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>markdn</key>
		<dict>
			<key>bundleName</key><string>Markdown</string>
			<key>bundleUUID</key><string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
		</dict>
		<key>markdown</key>
		<dict>
			<key>bundleName</key><string>Markdown</string>
			<key>bundleUUID</key><string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
		</dict>
		<key>matchfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>md</key>
		<dict>
			<key>bundleName</key><string>Markdown</string>
			<key>bundleUUID</key><string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
		</dict>
		<key>mdown</key>
		<dict>
			<key>bundleName</key><string>Markdown</string>
			<key>bundleUUID</key><string>D99E8C0C-792F-11D9-A212-000D93B3A10E</string>
		</dict>
		<key>merge_msg</key>
		<dict>
			<key>bundleName</key><string>Git</string>
			<key>bundleUUID</key><string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
		</dict>
		<key>mk</key>
		<dict>
			<key>bundleName</key><string>Make</string>
			<key>bundleUUID</key><string>4679297D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>mm</key>
		<dict>
			<key>bundleName</key><string>Objective-C</string>
			<key>bundleUUID</key><string>4679484F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>ocamlmakefile</key>
		<dict>
			<key>bundleName</key><string>Make</string>
			<key>bundleUUID</key><string>4679297D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>opml</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>pac</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>php</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>php3</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>php4</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>php5</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>phpt</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>phtml</key>
		<dict>
			<key>bundleName</key><string>PHP</string>
			<key>bundleUUID</key><string>467A1966-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>plist</key>
		<dict>
			<key>bundleName</key><string>Property List</string>
			<key>bundleUUID</key><string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>podfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>prawn</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>profile</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>puppetfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>py</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>py3</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>pyw</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>rake</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rakefile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rantfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rb</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rbx</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rhtml</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rjs</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>rpy</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>rss</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>ru</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>savedsearch</key>
		<dict>
			<key>bundleName</key><string>Property List</string>
			<key>bundleUUID</key><string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>scanfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>sconscript</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>sconstruct</key>
		<dict>
			<key>bundleName</key><string>Python</string>
			<key>bundleUUID</key><string>E3BADC20-6B0E-11D9-9DC9-000D93589AF6</string>
		</dict>
		<key>scriptsuite</key>
		<dict>
			<key>bundleName</key><string>Property List</string>
			<key>bundleUUID</key><string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>scriptterminology</key>
		<dict>
			<key>bundleName</key><string>Property List</string>
			<key>bundleUUID</key><string>467A3CB0-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>sh</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>shtml</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>snapfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>sql</key>
		<dict>
			<key>bundleName</key><string>SQL</string>
			<key>bundleUUID</key><string>AAB4CBF7-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>strings</key>
		<dict>
			<key>bundleName</key><string>Objective-C</string>
			<key>bundleUUID</key><string>4679484F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>svn-commit.2.tmp</key>
		<dict>
			<key>bundleName</key><string>Subversion</string>
			<key>bundleUUID</key><string>AEAF4DD4-74CD-11D9-BAD4-000A95A89C98</string>
		</dict>
		<key>svn-commit.tmp</key>
		<dict>
			<key>bundleName</key><string>Subversion</string>
			<key>bundleUUID</key><string>AEAF4DD4-74CD-11D9-BAD4-000A95A89C98</string>
		</dict>
		<key>textmate</key>
		<dict>
			<key>bundleName</key><string>Bundle Development</string>
			<key>bundleUUID</key><string>679EFB46-5368-47E5-85BA-DEF72709A471</string>
		</dict>
		<key>thorfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>tld</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>tm_properties</key>
		<dict>
			<key>bundleName</key><string>TextMate</string>
			<key>bundleUUID</key><string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
		</dict>
		<key>tmpl</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>tmproperties</key>
		<dict>
			<key>bundleName</key><string>TextMate</string>
			<key>bundleUUID</key><string>5A9D4FC6-6CBE-11D9-A21B-000D93589AF6</string>
		</dict>
		<key>tpl</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>txt</key>
		<dict>
			<key>bundleName</key><string>Text</string>
			<key>bundleUUID</key><string>B7BC3FFD-6E4B-11D9-91AF-000D93589AF6</string>
		</dict>
		<key>vagrantfile</key>
		<dict>
			<key>bundleName</key><string>Ruby</string>
			<key>bundleUUID</key><string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>xhtml</key>
		<dict>
			<key>bundleName</key><string>HTML</string>
			<key>bundleUUID</key><string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>xml</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>xsd</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>xsjs</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>xsjslib</key>
		<dict>
			<key>bundleName</key><string>JavaScript</string>
			<key>bundleUUID</key><string>AAB4FD74-73F9-11D9-B89A-000D93589AF6</string>
		</dict>
		<key>xsl</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>xslt</key>
		<dict>
			<key>bundleName</key><string>XML</string>
			<key>bundleUUID</key><string>4694D53F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
		<key>zsh</key>
		<dict>
			<key>bundleName</key><string>Shell Script</string>
			<key>bundleUUID</key><string>4694B05E-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
	</dict>
</dict>
</plist>
